.NavLink{
        font-family:Footlight MT Light, Tahoma, Trebuchet MS, Arial, sans-serif;
        font-size:32px;
        color:#ffffff;
        text-decoration:none;
        text-align:center;
        padding-right:32px;
        padding-left:32px;
      }
      #TitleTd{
        background-color:black;
        width:100%;
        padding:0px;
        border-radius:10px;
      }
      .NavTd{
        background-color:black;
        width:99%;
        padding:0px;
        border-radius:10px;
        height:70px;
      }
      #Title{
        height:115px;
        text-align:left;
        margin-left:15px;
        margin-top:6px;
      }
      #nav{
        margin:10px auto 40px auto;
        width:100%;
        border-radius:10px;
        background-color:black;
      }
      .NavTd:hover{
        background-color:#383838;
      }
      body{
        background-color:#0c83b1;
      }
      #infobox{
    border-radius: 25px;
    border: 10px solid black;
    padding: 20px auto; 
    width: 200px auto;
    height: 200px auto;
    text-align:center;
    font-family:Footlight MT Light, Tahoma, Trebuchet MS, Arial, sans-serif;
    background:linear-gradient(#dd2f2c, #ef7d3b);
    color:white;
	
      }
	  a:hover{
		  text-decoration:underline;
	  }
      p a{
        list-style-type:none;
        text-decoration:none;
        color:#0f0000;
      }
      }
